
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

    @Html.Partial("_Carousel")
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-rocket"></i>
                    </div>
                    <div class="block-body">
                        <h2>Creative design</h2>
                        <div class="line-subtitle"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="block-body">
                        <h2>Built for humans</h2>
                        <div class="line-subtitle"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="block-icon">
                        <i class="fa fa-cog"></i>
                    </div>
                    <div class="block-body">
                        <h2>Easy customization</h2>
                        <div class="line-subtitle"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam dignissim placerat lectus, at ornare sapien tempor eget. Etiam vel vestibulum nisl</p>
                    </div>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section -->
    <div class="section-colored home">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-8">
                    <h2>We can make real your bussiness project</h2>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a href="#" class="btn btn-danger btn-lg">Contact with us</a>
                </div>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.section-colored -->
    @Html.Partial("_RecentProjects")
    <div class="section-colored">
        <div class="container">
            <h3 class="section-title text-center">Some of Our Clients</h3>

            <div class="container clients">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="/banzhow/img/client-1.png" alt="client 1"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="/banzhow/img/client-2.png" alt="client 2"></a>
                    </div>

                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="/banzhow/img/client-3.png" alt="client 3"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="/banzhow/img/client-4.png" alt="client 4"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="/banzhow/img/client-5.png" alt="client 5"></a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-6">
                        <a href="#"><img class="img-responsive" src="/banzhow/img/client-6.png" alt="client 6"></a>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.container -->
    </div><!-- /.section-colored -->
    
