<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" style="background-image:url('/banzhow/img/slide/slide1.png');"></div>
            <div class="carousel-caption">
                <h2>clean and modern design</h2>
                <a href="#" class="button">DOWNLOAD</a>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/banzhow/img/slide/slide2.png');"></div>
            <div class="carousel-caption">
                <h2>fully responsive and retina ready</h2>
                <a href="#" class="button">SEE MORE</a>
            </div>
        </div>
        <div class="item">
            <div class="fill" style="background-image:url('/banzhow/img/slide/slide3.png');"></div>
            <div class="carousel-caption">
                <h2>based on twitter bootstrap</h2>
                <a href="#" class="button">DOWNLOAD</a>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <i class="fa fa-angle-left"></i>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <i class="fa fa-angle-right"></i>
    </a>
</div>
