<div class="section" id="recent-projects" style="position: relative;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-title">Recent projects</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html" class="link-portfolio">
                    <div class="overlay-portfolio">
                        <h3>Banzhow Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-portfolio -->
                    <img class="img-responsive img-home-portfolio" src="/banzhow/img/portfolio_1.png" alt="portfolio 1">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html" class="link-portfolio">
                    <div class="overlay-portfolio">
                        <h3>Banzhow Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-portfolio -->
                    <img class="img-responsive img-home-portfolio" src="/banzhow/img/portfolio_2.png" alt="portfolio 2">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html" class="link-portfolio">
                    <div class="overlay-portfolio">
                        <h3>Banzhow Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-portfolio -->
                    <img class="img-responsive img-home-portfolio" src="/banzhow/img/portfolio_3.png" alt="portfolio 3">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html" class="link-portfolio">
                    <div class="overlay-portfolio">
                        <h3>Banzhow Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-portfolio -->
                    <img class="img-responsive img-home-portfolio" src="/banzhow/img/portfolio_4.png" alt="portfolio 4">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html" class="link-portfolio">
                    <div class="overlay-portfolio">
                        <h3>Banzhow Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-portfolio -->
                    <img class="img-responsive img-home-portfolio" src="/banzhow/img/portfolio_5.png" alt="portfolio 5">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html" class="link-portfolio">
                    <div class="overlay-portfolio">
                        <h3>Banzhow Template</h3>
                        <small class="text-muted">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing.
                        </small>
                    </div><!-- /.overlay-portfolio -->
                    <img class="img-responsive img-home-portfolio" src="/banzhow/img/portfolio_6.png" alt="portfolio 6">
                </a>
            </div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
