
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Blog</h1>
                </div>
            </div>
        </div> <!-- /.container -->
    </div> <!-- /.section-colored -->
    <div class="container container-int">

        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Blog</li>
        </ol>
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="post">
                    <h2 class="post-title"><a href="blog-post.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a></h2>
                    <p class="post-meta">
                        <i class="fa fa-calendar-o first"></i> January 03, 2013
                        <i class="fa fa-user"></i> Admin
                        <i class="fa fa-comment"></i> <a href="#">10 comments</a>
                    </p>
                    <a href="blog-post.html" class="img-post">
                        <img src="/banzhow/img/post1.png" alt="post 1" class="img-responsive">
                    </a>
                    <p>Vestibulum pulvinar lacus eget quam tempor, ultrices venenatis enim fermentum. Suspendisse in tellus sed metus auctor consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tincidunt ut quam non dapibus.</p>
                    <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
                </div><!-- /.post -->

                <div class="post">
                    <h2 class="post-title"><a href="blog-post.html">Donec consectetur dui ipsum, in mattis dui cursus vitae</a></h2>
                    <p class="post-meta">
                        <i class="fa fa-calendar-o first"></i> January 03, 2013
                        <i class="fa fa-user"></i> Admin
                        <i class="fa fa-comment"></i> <a href="#">8 comments</a>
                    </p>
                    <a href="blog-post.html" class="img-post">
                        <img src="/banzhow/img/post2.png" alt="post 2" class="img-responsive">
                    </a>
                    <p>Vestibulum pulvinar lacus eget quam tempor, ultrices venenatis enim fermentum. Suspendisse in tellus sed metus auctor consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tincidunt ut quam non dapibus.</p>
                    <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
                </div><!-- /.post -->
                <div class="post">
                    <h2 class="post-title"><a href="blog-post.html">Donec consectetur dui ipsum, in mattis dui cursus vitae</a></h2>
                    <p class="post-meta">
                        <i class="fa fa-calendar-o first"></i> January 03, 2013
                        <i class="fa fa-user"></i> Admin
                        <i class="fa fa-comment"></i> <a href="#">8 comments</a>
                    </p>
                    <a href="blog-post.html" class="img-post">
                        <img src="/banzhow/img/post3.png" alt="post 3" class="img-responsive">
                    </a>
                    <p>Vestibulum pulvinar lacus eget quam tempor, ultrices venenatis enim fermentum. Suspendisse in tellus sed metus auctor consectetur. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut tincidunt ut quam non dapibus.</p>
                    <a class="btn btn-primary" href="blog-post.html">Read More <i class="fa fa-angle-right"></i></a>
                </div><!-- /.post -->
                <div class="text-center">
                    <ul class="pagination">
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div><!-- /.text-center -->
            </div>
            <div class="col-md-4 col-sm-4 sidebar">
                <div class="well">
                    <h4>Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                        </span>
                    </div><!-- /input-group -->
                </div><!-- /.well -->
                <div class="well">
                    <h4>Categories</h4>
                    <ul class="nav nav-stacked nav-pills">
                        <li><a href="#">Lorem</a></li>
                        <li><a href="#">Ipsum</a></li>
                        <li><a href="#">Dolor</a></li>
                        <li><a href="#">Sit</a></li>
                        <li><a href="#">Amet</a></li>
                        <li><a href="#">Consectetur</a></li>
                    </ul>
                </div><!-- /.well -->

                <ul class="nav nav-tabs" id="widgetTab">
                    <li class="active"><a href="#latest-news" data-toggle="tab">Recent News</a></li>
                    <li><a href="#popular-news" data-toggle="tab">Popular News</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade in active list-posts" id="latest-news">
                        <ul>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar quam sed consequat adipiscing</a></li>
                        </ul>
                    </div>
                    <div class="tab-pane fade list-posts" id="popular-news">
                        <ul>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Praesent convallis a risus eget cursus. Phasellus ultrices laoreet lacus semper cursus. Nam vitae luctus sapien, a hendrerit nunc</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Praesent convallis a risus eget cursus. Phasellus ultrices laoreet lacus semper cursus. Nam vitae luctus sapien, a hendrerit nunc</a></li>
                            <li><a href="#"><i class="fa fa-caret-right"></i> Praesent convallis a risus eget cursus. Phasellus ultrices laoreet lacus semper cursus. Nam vitae luctus sapien, a hendrerit nunc</a></li>
                        </ul>
                    </div>
                </div><!-- /.tab-content -->

                <div class="well">
                    <h4>Tags</h4>
                    <div class="tags">
                        <a href="#">lorem</a>
                        <a href="#">ipsum</a>
                        <a href="#">dolor</a>
                        <a href="#">sit</a>
                        <a href="#">amet</a>
                        <a href="#">consectetur</a>
                        <a href="#">adipiscing</a>
                        <a href="#">elit</a>
                        <a href="#">donec</a>
                        <a href="#">pulvinar</a>
                    </div><!-- /tags -->
                </div><!-- /.well -->

            </div><!-- /.sidebar -->
        </div><!-- /.row -->
    </div><!-- /.container -->
    